{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Aliceboy' Blog</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mdeditor/css/editormd.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
	{% block css %}{% endblock %}
</head>
<body>
	<div class="blog_first">
		<h1 class="blog_first_h1">我的小窝</h1>
		<p>day day up</p>
		<br>
	</div>
	<div class='body_main'>
		<!-- <p><a href="{% url 'blog:index' %}"><img src="{% static 'logo/logo.png' %}"></a></p> -->
		{% block content %}
		{% endblock %}
	</div>
	{% include 'blog/footer.html' %}
</body>
</html>