{% extends 'blog/base.html' %}

{% block css %}
	
	<style type="text/css">
		.comment {
			background-color: #f5f5f5;
			margin-left: 2%;
			margin-right: 2%;
			border-bottom: 1px dotted gray;
			padding: 0px 10px 0px 10px;

		}
		h1.detail_h1 { 
		border-bottom: 1px solid #FFF;
		margin-bottom:5px;
		margin-top: 5px; 
		color: #212121;
	}
	</style>	
{% endblock %}

{% block content %}
<div class="img_and">
<img class="img_avatar" src="{{ article.author.avatar.url }}">
<a href="#">{{ article.author }}</a>
</div>
<h1 class="detail_h1">{{ article.title }}</h1>
<div class="time_and">
	<!-- |date:'Y-m-d' -->
	{{ article.last_mod_time }}
	&nbsp;
	阅读&nbsp;{{ article.view }}
	&nbsp;
	<a href="#">{{ article.category }}</a>
</div>	
	
{{ article.content|safe }}
<br>
{% include 'blog/comment.html' %}
{% endblock %}