{% extends 'blog/base.html' %}


{% block content %}
{% for article in article_list %}
	<h2><a href="{% url 'blog:detail' pk=article.pk %}">{{ article.title }}</a></h2>
	<p>{{ article.djgest }}</p>
{% endfor %}
<p>
	{% if article_list.has_previous %}
		<a href="?page={{ article_list.previous_page_number }}">上一页</a>
	{% endif %}
	Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}
	{% if article_list.has_next %}
		<a href="?page={{ article_list.next_page_number }}">下一页</a>
	{% endif %}
</p>
{% endblock %}