@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
		 url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body {
	background-color: #e9ecef;
	/*background-color: #f8f9fa;*/
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
}
div.body_main {
	background-color: #fff;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid #dadce0;
	padding: 10px 10px 10px 10px;
}

h1,h2 {
	font-family: "Emblema One", sans-serif;
	color: #212121;
	/*border-bottom: 1px solid #ccc;*/
}
h1 {
	font-size: 2em;
	
	margin-bottom:5px;
}
h2,.article_body h2 {
	font-size: 1.3em;
	/*font-weight: normal;*/
}
.article_body h3{
	font-size: 1.2em;
}
.article_body h4{
	font-size: 1em;
}
a {
	text-decoration: none;
	color: #551A8B;
}
.img_and {
	display: flex;
	align-items: center;
}

.time_and {
	font-size: 0.8em;
	color: #632c2c;
}	
.img_avatar {
    display: block;
    border-radius: 50%;
    border: 1px solid #eee;
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
}

/*index*/
p.index_p {
	color:#888888; 
	/*color: #555;*/
}
.index_blog{
	/*line-height: 1.3em;*/
	/*font-style: italic;*/
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	background-color: #EEE;
	padding: 5px;
	margin: 20px;
	border:2px dashed white;
	background-image: url(../images/background.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

/*detail*/
.comment {
	background-color: #f5f5f5;
	margin-left: 2%;
	margin-right: 2%;
	border-bottom: 1px dotted gray;
	padding: 0px 10px 0px 10px;

}

h1.detail_h1 { 
	margin-top: 5px; 
}